$main:#00ccbb;
$border-black:#545574;
$black:#444466;
$pink:#ff5677;
$yellow:#ffbb34;
$light-blue:#12aafe;
$purple:#7866de;
.unit-container{
    position: relative;
    width: 85vw;
    height: 15vw;
    margin: 30px 0 0 0 ;
    overflow: hidden;
    cursor: pointer;
    .unit-inside{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .background{
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        .left{
            position: absolute;
            right: 0;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(174,27,187,1) 83%);         }
        .hover{         
            width: 100%;
            height: 100%;
            position: absolute;
            animation: showHover 0.3s ease-out;
        }
        .no-hover{
            width: 100%;
            height: 100%;
            position: absolute;
            animation: hideHover 0.3s ease-out forwards;
        }
    }
    .character{
        position: relative;
        z-index: 2;
        height: 100%;
        img{
            height: 100%;
        }
    }
    .logo{
        position: relative;
        z-index: 2;
        align-self: center;
        width: 30%;
        display: flex;
        align-items: center;
        img{
            width: 100%;
            height: auto;
        }
    }
}

@media screen and(max-width:900px) {
    .unit-container{
        width: 95vw;
        height: 35vw;
        .unit-inside{
            position: relative;
            justify-content: center;
            
            .logo{
                position: absolute;
                bottom: 2%;
                z-index: 3;
                width: 40%;
            }
        }
    }
}


@keyframes showHover {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@keyframes hideHover {
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}