<div class="unit-list-container">
    <ul class="units">
        <li [ngClass]="{'selected': currentUnit == 2}" routerLink="/units/2"><img src="https://i.ibb.co/1fLRMcP/logo-vivibas.png"></li>
        <li [ngClass]="{'selected': currentUnit == 3}" routerLink="/units/3"><img src="https://i.ibb.co/6vGNSyc/logo-leoneed.png"></li>
        <li [ngClass]="{'selected': currentUnit == 4}" routerLink="/units/4"><img src="https://i.ibb.co/YyH9Cvc/logo-momojun.png"></li>
        <li [ngClass]="{'selected': currentUnit == 5}" routerLink="/units/5"><img src="https://i.ibb.co/wMkp1fY/logo-wodesho.png"></li>
        <li [ngClass]="{'selected': currentUnit == 6}" routerLink="/units/6"><img src="https://i.ibb.co/R2QdQkV/logo-nightcode.png"></li>
    </ul>
</div>