<div class="units-container">
    <app-unit-members
        routerLink="/units/2"
        [color]="'#ee1166'" 
        [background]="'https://i.ibb.co/Q9XKP1s/bg-03.jpg'"  
        [logo]="'https://i.ibb.co/1fLRMcP/logo-vivibas.png'" 
        [character]="'https://i.ibb.co/NVVgJM0/img-group04-A.png'" class="units">
    </app-unit-members>
    <app-unit-members 
        routerLink="/units/3"
        [color]="'#4455dd'" 
        [background]="'https://i.ibb.co/WFbL15J/bg-01.jpg'" 
        [logo]="'https://i.ibb.co/6vGNSyc/logo-leoneed.png'" 
        [character]="'https://i.ibb.co/NyJBHpB/img-group02-A.png'" 
        [right]=true class="units right">
    </app-unit-members>
    <app-unit-members 
        routerLink="/units/4"
        [color]="'#88dd44'" 
        [background]="'https://i.ibb.co/n3KdmVV/bg-02.jpg'"  
        [logo]="'https://i.ibb.co/YyH9Cvc/logo-momojun.png'" 
        [character]="'https://i.ibb.co/k3DbdZH/img-group03-A.png'" class="units">
    </app-unit-members>
    <app-unit-members
        routerLink="/units/5" 
        [color]="'#ff9900'" 
        [background]="'https://i.ibb.co/PNPzpQm/bg-04.jpg'" 
        [logo]="'https://i.ibb.co/wMkp1fY/logo-wodesho.png'" 
        [character]="'https://i.ibb.co/MSTGh6S/img-group05-A.png'" 
        [right]=true class="units right">
    </app-unit-members>
    <app-unit-members 
       routerLink="/units/6"
        [color]="'#884499'" 
        [background]="'https://i.ibb.co/K7VXb9f/bg-05.jpg'"  
        [logo]="'https://i.ibb.co/R2QdQkV/logo-nightcode.png'" 
        [character]="'https://i.ibb.co/mXm4jKw/img-group06-A.png'" class="units">
    </app-unit-members>
</div>